<%- include("partials/header"); -%>

  <% 
    var currentDate = new Date();
    var daysInMonth = new Date(currentDate.getFullYear(), currentDate.getMonth() + 1, 0).getDate();
    var daysPassed = currentDate.getDate();
  %>


<% const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]; %>


<h2>Projected Savings for  <%= months[currentDate.getMonth()] %> </h2>

<!-- Table to display savings data -->
<table class="table">
  <thead>
    <tr>
      <th>Income</th>
       <th><%= months[currentDate.getMonth()] %> Exp <%= daysPassed %>/<%= daysInMonth %> Days</th>
        <th> Projected EOM <%= months[currentDate.getMonth()] %> Exp</th>
      <th>Current Savings <%= daysPassed %>/<%= daysInMonth %> Days </th>
      <th>Projected EOM Savings</th>
      <th>Target Savings</th>
    </tr>
  </thead>
  <tbody>
    <tr>

      <!-- Target Savings -->
      <td id="monthlyIncomeBox">
        <!-- user's salary increase rate adjusted income goes here -->
      </td>

      <!-- Current Savings -->
      <td id="currentExpenditureBox">
        <!-- Content for Current expenditure goes here -->
      </td>

      <!-- Current Savings -->
      <td id="projectedExpenditureBox">
        <!-- Content for projected expenditure goes here -->
      </td>

      <!-- Current Savings -->
      <td id="currentSavingsBox">
        <!-- Content for Current Savings goes here -->
      </td>

      <!-- Projected Savings -->
      <td id="projectedSavingsBox">
        <!-- Content for Projected Savings goes here -->
      </td>


      <!-- Target Savings -->
      <td id="targetSavingsBox">
        <!-- Content for Target Savings goes here -->
      </td>

    </tr>
  </tbody>
</table>

<!-- Table to display savings data -->
<table class="table">
  <!-- ... (table headers and data cells) ... -->
</table>

<!-- Message section -->
<div id="savingsMessage">
  <!-- Messages will be displayed here -->
</div>


<script src="/scripts/projected-savings.js"></script>

<%- include("partials/footer"); -%>
