<%- include("partials/header"); -%>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

  <script src="/scripts/graph.js"></script>

<h1>Inflation Expense Projection</h1>

<div class="vertical-spacing"></div>

<canvas id="myChart" style="width:100%;max-width:1000px"></canvas>

<script>

  const inflation = 0.067
  const five_year_income = [800*12, 800*12, 800*12, 800*12, 800*12];
  const userExpenses = [500 * 12, 500 * 12, 500 * 12, 500 * 12, 500 * 12];
  const compoundedExpenses = [...userExpenses]; //make a copy of userExpenses array
  const salaryIncreasePercentage = 0.066
  
  //plotInflationGraph(userExpenses, compoundedExpenses, inflation);
  plotIncomeExpensesGraph( five_year_income, userExpenses, inflation, salaryIncreasePercentage);

</script>

<h2>Breakdown of projected expenses</h2>

<% expenses = [{name: "Amount spent this year", amount: 15000.14}]%>
<% sectionTitle = "Annual expense Projection"; %>


<div class="expense-card">
  <div class="card">
    <h4><%= sectionTitle %></h4> 
    <table class="table">
      <thead>
        <tr>
          <th>Expense Item</th>
          <% for (let i = 0; i < 5; i++) { %>
            <th><%= currentYear + i %></th>
          <% } %>
        </tr>
      </thead>
      <tbody>
        <% expenses.forEach((item, index) => { %>
          <tr>
            <td><%= item.name %></td>
            <% for (let i = 0; i < 5; i++) { %>
              <td>
                $<%= (item.amount * Math.pow(1 + inflation, i)).toFixed(2) %>
                <% if (i > 0) { %> <!-- Adding the '+' for subsequent years -->
                  <br>
                  <span class="plus-amount">+ $<%= ((item.amount * Math.pow(1 + inflation, i)) - (item.amount * Math.pow(1 + inflation, i - 1))).toFixed(2) %></span>
                <% } %>
              </td>
            <% } %>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>


<% expenses = [{name: "Mcdonalds", amount: 107.14},{name: "KFC",amount: 57.34},{ name: "Food Court", amount: 73.43},];%>
<% sectionTitle = "Food"; %>

<div class="expense-card">
  <div class="card">
    <h4><%= sectionTitle %></h4> 
    <table class="table">
      <thead>
        <tr>
          <th>Expense Item</th>
          <% for (let i = 0; i < 5; i++) { %>
            <th><%= currentYear + i %></th>
          <% } %>
        </tr>
      </thead>
      <tbody>
        <% expenses.forEach((item, index) => { %>
          <tr>
            <td><%= item.name %></td>
            <% for (let i = 0; i < 5; i++) { %>
              <td>
                $<%= (item.amount * Math.pow(1 + inflation, i)).toFixed(2) %>
                <% if (i > 0) { %> <!-- Adding the '+' for subsequent years -->
                  <br>
                  <span class="plus-amount">+ $<%= ((item.amount * Math.pow(1 + inflation, i)) - (item.amount * Math.pow(1 + inflation, i - 1))).toFixed(2) %></span>
                <% } %>
              </td>
            <% } %>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>

<%expenses = [{name: "Electricity Bill", amount: 31.90 }, {name: "Water Bill", amount: 30.89}, {name: "Public Transport", amount: 77.78}];%>
<% sectionTitle = "Utilities"; %>


<div class="expense-card">
  <div class="card">
    <h4><%= sectionTitle %></h4> 
    <table class="table">
      <thead>
        <tr>
          <th>Expense Item</th>
          <% for (let i = 0; i < 5; i++) { %>
            <th><%= currentYear + i %></th>
          <% } %>
        </tr>
      </thead>
      <tbody>
        <% expenses.forEach((item, index) => { %>
          <tr>
            <td><%= item.name %></td>
            <% for (let i = 0; i < 5; i++) { %>
              <td>
                $<%= (item.amount * Math.pow(1 + inflation, i)).toFixed(2) %>
                <% if (i > 0) { %> <!-- Adding the '+' for subsequent years -->
                  <br>
                  <span class="plus-amount">+ $<%= ((item.amount * Math.pow(1 + inflation, i)) - (item.amount * Math.pow(1 + inflation, i - 1))).toFixed(2) %></span>
                <% } %>
              </td>
            <% } %>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>


<% expenses = [{name: "Netflix", amount: 107.14},{name: "Disney Plus",amount: 57.34},{ name: "Amazon Primevideo", amount: 73.43},];%>
<% sectionTitle = "Entertainment"; %>

<div class="expense-card">
  <div class="card">
    <h4><%= sectionTitle %></h4> 
    <table class="table">
      <thead>
        <tr>
          <th>Expense Item</th>
          <% for (let i = 0; i < 5; i++) { %>
            <th><%= currentYear + i %></th>
          <% } %>
        </tr>
      </thead>
      <tbody>
        <% expenses.forEach((item, index) => { %>
          <tr>
            <td><%= item.name %></td>
            <% for (let i = 0; i < 5; i++) { %>
              <td>
                $<%= (item.amount * Math.pow(1 + inflation, i)).toFixed(2) %>
                <% if (i > 0) { %> <!-- Adding the '+' for subsequent years -->
                  <br>
                  <span class="plus-amount">+ $<%= ((item.amount * Math.pow(1 + inflation, i)) - (item.amount * Math.pow(1 + inflation, i - 1))).toFixed(2) %></span>
                <% } %>
              </td>
            <% } %>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>


<div class="vertical-spacing"></div>
<div class="vertical-spacing"></div>

<%- include("partials/footer"); -%>
